<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="nex10_ros2_control_macro" params="tf_prefix ip port use_mock_hardware:=false">
    <ros2_control name="nex10" type="system">
      <hardware>
        <xacro:if value="${use_mock_hardware}">
          <plugin>mock_components/GenericSystem</plugin>
          <param name="calculate_dynamics">true</param>
        </xacro:if>
        <xacro:unless value="${use_mock_hardware}">
          <plugin>ynx_hardware_interface/YnxHardwareInterface</plugin>
          <param name="ip">${ip}</param>
          <param name="port">${port}</param>
        </xacro:unless>
      </hardware>

      <joint name="${tf_prefix}joint_1">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="${tf_prefix}joint_2">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="${tf_prefix}joint_3">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="${tf_prefix}joint_4">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="${tf_prefix}joint_5">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="${tf_prefix}joint_6">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

    <!-- General Digital I/O Ports 1-10 -->
      <gpio name="gpio_io">
        <!-- Inputs 1 through 10 -->
        <state_interface name="digital_input_1"/>
        <state_interface name="digital_input_2"/>
        <state_interface name="digital_input_3"/>
        <state_interface name="digital_input_4"/>
        <state_interface name="digital_input_5"/>
        <state_interface name="digital_input_6"/>
        <state_interface name="digital_input_7"/>
        <state_interface name="digital_input_8"/>
        <state_interface name="digital_input_9"/>
        <state_interface name="digital_input_10"/>
        <!-- Outputs 1 through 10 -->
        <command_interface name="digital_output_1"/>
        <state_interface name="digital_output_1"/>
        <command_interface name="digital_output_2"/>
        <state_interface name="digital_output_2"/>
        <command_interface name="digital_output_3"/>
        <state_interface name="digital_output_3"/>
        <command_interface name="digital_output_4"/>
        <state_interface name="digital_output_4"/>
        <command_interface name="digital_output_5"/>
        <state_interface name="digital_output_5"/>
        <command_interface name="digital_output_6"/>
        <state_interface name="digital_output_6"/>
        <command_interface name="digital_output_7"/>
        <state_interface name="digital_output_7"/>
        <command_interface name="digital_output_8"/>
        <state_interface name="digital_output_8"/>
        <command_interface name="digital_output_9"/>
        <state_interface name="digital_output_9"/>
        <command_interface name="digital_output_10"/>
        <state_interface name="digital_output_10"/>
      </gpio>
    </ros2_control>
  </xacro:macro>
</robot>
